@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  /* font-family: "Work Sans", sans-serif; */
}


body {
  background-color: rgb(172, 204, 180, 0.8);
  position: relative;
}

#Anonobloglogo {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  padding-left: 0.8%;
  text-decoration: none;
}

article {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 95%;
  border-radius: 5px;
  width: 400px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border: solid 0.5px #52b69a;
  border-radius: 5px;
  padding: 1.5em;
}

div > article > h1 {
  background-color: rgb(255, 255, 255);
}

div > article > p {
  background-color: rgb(255, 255, 255);
}

p {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 0.5px #52b69a;
  padding: 1.5em;
  margin: 1em;
}

div > article > h2 {
  margin-top: 5px;
  background-color: rgb(255, 255, 255);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  justify-content: center;
  align-content: center;
  grid-gap: 30px;
  height: 250vh;
}

.grid article {
  width: 350px;
  height: 300px;
  cursor: pointer;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox article {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: rgb(237, 245, 233);
  border: solid 1px #52b69a;
}

/* @media only screen and (max-width: 760px){
  .grid{
     grid-template-columns: 1fr;
  }
} */

h1 {
  font-size: large;
}

h2 {
  font-size: medium;
}

p {
  font-size: small;
}


#logo {
  position: relative;
  /* opacity: 0.9; */
  /* padding-bottom: 0.6%; */
  /* padding-bottom: 10%; */
  padding-left: 0.2%;
}


header {
  top: 0;
  left: 0;
  right: 0;
  background: #3e9c98;
  box-shadow: 0 5px 10px black;
  padding: 25 px 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  margin-bottom: 2em;
}

header .logo {
  font-size: 25px;
}

header .navbar ul li {
  position: relative;
  float: left;
  font-family: "Work Sans", sans-serif;
}

header .navbar ul li a {
  font-size: 23px;
  padding: 20px;
  color: rgb(9, 31, 39);
  display: block;
}

header .navbar ul li a:hover {
  background-color: rgb(39, 138, 151);
  color: azure;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: white;
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 0.5px solid rgb(39, 146, 25);
}

header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}

header .navbar ul li:hover > ul {
  display: initial;
}

@media screen and (max-width: 809px) {
  header .navbar ul li a {
    font-size: 20px;
    padding: 15px;
  }
}

@media screen and (max-width: 732px) {
  header .navbar ul li a {
    font-size: 20px;
    padding: 10px;
  }
}

@media screen and (max-width: 701px) {
  header .navbar ul li a {
    font-size: 17px;
    padding: 5px;
  }
}

@media screen and (max-width: 692px) {
  header .navbar ul li a {
    font-size: 17px;
    padding: 5px;
  }
}

@media screen and (max-width: 691px) {
  header .navbar ul li a {
    font-size: 17px;
    padding: 5px;
  }
}

@media screen and (max-width: 623px) {
  header .navbar ul li a {
    font-size: 14px;
    padding: 5px;
  }
}

@media screen and (max-width: 575px) {
  header .navbar ul li a {
    font-size: 12px;
    padding: 5px;
  }
}

@media screen and (max-width: 543px) {
  header .navbar ul li a {
    font-size: 10px;
    padding: 5px;
  }
}

@media screen and (max-width: 512px) {
  header .navbar ul li a {
    font-size: 8px;
    padding: 5px;
  }
}

/* .logo {
  position: relative;
  width: 70px;
  height: 60px;
} */

.emoji-btn {
  display: block;
  width: 10%;
  border: none;
  background-color: #68b196;
  padding: 4px 15px;
  text-align: center;
}

.thumbsUpEmoji,
.heartEmoji,
.laughEmoji {
  font-size: 30px;
}

.emojis {
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: #3e9c98;
  width: 100vw;
  position: relative;
  padding: 20px;
  display: block;
  text-align: center;
  display: flex;
  bottom: 0px;
  margin: 0;
  bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.footer-list {
  display: inline;
  margin-left: 30px;
}

h3 {
  display: inline;
  margin-left: 30px;
}

div {
  display: inline;
}

ul {
  display: inline;
  margin-left: -20px;
}

.footer-content ul li a:hover {
  color: black;
  padding-left: 15px;
}

.social {
  display: inline;
  width: 80px;
  margin: 10px, 10px, 10px, 0;
  text-align: center;
  line-height: 40px;
  color: white;
  transition: all 0.5s ease;
  font-size: 25px;
  padding-left: 10px;
}

.social a:hover {
  color: rgb(39, 138, 151);
  background-color: white;
}

@media screen and (max-width: 1360px) {
  .follow-us {
    display: block;
  }
}

@media screen and (max-width: 1135px) {
  .contact {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  a {
    display: block;
  }
}

.container-thumbs-up {
  display: inline-block;
  margin-right: 20px;
  margin-left: 60px;
}

.container-heart {
  display: inline-block;
  margin-right: 20px;
}

.container-laugh {
  display: inline-block;
  margin-right: 20px;
}

.heartNumber {
  margin-right: 15px;
}
